$display-ib: inline-block;
.navbar {
  justify-content: unset !important;
}
.nav-link {
  display: inline-block;
  padding-left: 20px;
}
.navbar-nav {
  display: flex;
  flex-direction: row !important;
}
.form {
  margin-right: 70px;
  margin-left: 20px;
}
.log {
  list-style: none;
}
.loggout {
  padding-left: 25px;
  color: white !important;

  &:hover {
    color: #dc3545 !important;
  }
}

.navbar-brand {
  font-weight: 900;
}
